.home-hero {
	background-image: url('/hero-home.jpg');
}

.features {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: wrap;
	gap: 60px;
}

.feature-box {
	width: 324px;
	padding: 8px;
	flex: 0 1;
	text-align: center;
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);

	h3 {
		padding-top: 24px;
		padding-bottom: 10px;
	}
	p {
		padding-bottom: 24px;
	}

	.img-wrapper {
		position: relative;
		width: 100%;
		height: 200px;
		overflow: hidden;
	}
	.text-wrapper {
		padding: 0 8px;
	}
}

.steps {
	position: relative;
	width: 100%;
	h3 {
		padding-bottom: 12px;
	}

	ul {
		margin-left: 1.5em; /* Usuń domyślne marginesy */
	}
	li {
		padding: 2px 0;
	}

	.offer-step-box {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 40px;
		padding: 32px 0;
	}

	.offer-step-number {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		border: 10px solid var(--darkblue-color);
		font-family: 'Josefin Sans', sans-serif;
		font-weight: bold;
		font-size: 32px;
		color: var(--darkblue-color);
		background-color: #fff;
		z-index: 10;
	}

	.offer-step-number::after {
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		width: 8px;
		height: 180px;
		background-color: var(--darkblue-color);
		z-index: 0;
	}
	.offer-step-box:last-child .offer-step-number::after {
		display: none; /* Usuń kreskę przy ostatnim elemencie */
	}

	.offer-step-iconbox {
		display: flex;
		flex-direction: row;
		justify-content: start;

		.offer-step-icon {
			margin: 0 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 140px;
			height: 140px;
			border-radius: 100px;
			background-color: #fff;
			box-shadow: 0 0 15px #81a0c753;
		}
		img {
			width: 80px;
			height: 80px;
		}
	}
}

.green-gradient {
	background: linear-gradient(to top, #ddede8, #ddede800 40px);
}
.green-btn {
	background-color: var(--green-color);
}

.responsive-svg {
	display: block;
	width: 100%;
	height: auto;
}

@media (max-width: 920px) {
	.offer-step-icon {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

@media (min-width: 920px) {
	.offer-step-text,
	.offer-step-iconbox {
		width: 360px;
	}

	.offer-step-box:nth-child(even) {
		flex-direction: row-reverse;
		.offer-step-iconbox {
			justify-content: end;
		}
	}
}
